@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dominant-color: #1e90ff;
  --light-color: #f4f9ff;
  --dark-color: #000000;
  --accent-color: #414756;
  --body-font: "Poppins", "sans-serif";
  --header-font: "Frank Ruhl Libre", "sans-serif";
  --big-font-size: 2rem;
  --medium-font-size: 1.5rem;
  --normal-font-size: 1rem;
}
:root.darkmode {
  --light-color: #000000;
  --dark-color: #f4f9ff;
}
:root.darkmode body .home-container {
  background: url(imgs/soradark2.png) no-repeat fixed right bottom;
  background-size: 65%;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: auto;
  font-family: var(--body-font);
  color: var(--dark-color);
  background-color: var(--light-color);
  font-size: var(--normal-font-size);
}

/* -------------HEADER SECTION----------- */
header {
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  transition: all 0.8s ease;
}
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 3rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  background-color: var(--dark-color);
}
.sticky-header .nav-logo {
  background-color: var(--dark-color);
}
.sticky-header .nav-burger > div {
  background-color: var(--light-color);
}
.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.nav-logo {
  padding-left: 10%;
  background: var(--light-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  transition: background 0.8s ease;
}
#logo-anim {
  fill: transparent;
  animation: logo-fill 1s ease 4.2s forwards;
}
#logo-anim path:nth-child(1) {
  stroke-dasharray: 101;
  stroke-dashoffset: 101;
  animation: logo-anim 3s ease 1s forwards;
}
#logo-anim path:nth-child(2) {
  stroke-dasharray: 77;
  stroke-dashoffset: 77;
  animation: logo-anim 3s ease 1.3s forwards;
}
#logo-anim path:nth-child(3) {
  stroke-dasharray: 186;
  stroke-dashoffset: 186;
  animation: logo-anim 3s ease 1.6s forwards;
}
#logo-anim path:nth-child(4) {
  stroke-dasharray: 152;
  stroke-dashoffset: 152;
  animation: logo-anim 3s ease 1.9s forwards;
}
#logo-anim path:nth-child(5) {
  stroke-dasharray: 28;
  stroke-dashoffset: 28;
  animation: logo-anim 3s ease 2s forwards;
}
@keyframes logo-anim {
  to {
    stroke-dashoffset: 0%;
  }
}
@keyframes logo-fill {
  to {
    fill: var(--dominant-color);
  }
}
.nav-links {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--dominant-color);
  position: absolute;
  top: -100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8rem 0;
  list-style: none;
  transition: transform 0.8s ease-in-out;
}
.nav-active {
  transform: translateY(100vh);
}
.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: transform 0.5s;
  display: inline-block;
}
.nav-link:hover {
  border-bottom: 4px solid var(--accent-color);
}
.nav-current {
  border-bottom: 4px solid var(--accent-color);
  font-size: 1.1em;
}
.nav-current::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 2em;
  opacity: 0.5;
  color: var(--accent-color);
  pointer-events: none;
}
.nav-socmed {
  position: absolute;
  display: flex;
  flex-direction: row;
  list-style: none;
  bottom: 2.5rem;
  width: 50%;
  justify-content: space-between;
}
.nav-socmed a:hover {
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 2px 4px 8px rgba(255, 255, 255, 0.3);
}
.nav-socmed a {
  color: #fff;
  background-color: var(--accent-color);
  border-radius: 8px;
  display: flex;
  text-decoration: none;
}
.lightmode-container {
  width: 56px;
  height: 29px;
  border-radius: 50px;
  border: 1px solid var(--dark-color);
  background-color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 85px;
  padding: 2px;
  z-index: 1;
}
.lightmode-container i {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: #f4f9ff;
  border-radius: 50%;
  color: #000000;
  cursor: pointer;
  border: 1px solid #414756;
  cursor: pointer;
  transition: transform 0.7s ease;
}
.lightmode-container .lightmode-off {
  background-color: var(--dominant-color);
  width: 50px;
  height: 25px;
  position: absolute;
  border-radius: 50px;
  z-index: -1;
  transition: 0.7s ease;
  left: 2px;
}
.bx-moon {
  transform: translateX(-100%);
}
.bx-moon + .lightmode-off {
  width: 25px;
}
.nav-burger {
  position: absolute;
  right: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
  cursor: pointer;
  transition: 0.6s ease;
}
@keyframes burger-anim {
  30% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(-15deg);
  }
  90% {
    transform: rotate(0deg);
  }
}

.line1 {
  width: 80%;
  height: 2px;
  background: var(--dark-color);
}
.line2 {
  width: 80%;
  height: 2px;
  background: var(--dark-color);
}
.line3 {
  width: 80%;
  height: 2px;
  background: var(--dark-color);
}

/* --------HOME SECTION---------- */
.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0 10% 10vh;
  background: url(imgs/sora2.jpg) no-repeat fixed right bottom;
  background-size: 50%;
  font-family: var(--header-font);
  animation: anim-onload-bg 1.5s ease-in-out 1s backwards;
}
.intro {
  animation: anim-onload-home 1.2s ease-in-out 0.5s backwards;
}
.home-container .title {
  width: 100%;
}
.home-container .title h1 {
  margin-bottom: 1rem;
  font-size: var(--big-font-size);
  font-weight: 500;
  animation: anim-onload-home 1.2s ease-in-out 0.8s backwards;
}
.home-container .title h1 > span {
  display: block;
  animation: anim-onload-home 1.2s ease-in-out 1.2s backwards;
}
.home-container .title p {
  width: 70%;
  animation: anim-onload-home 1.2s ease-in-out 1.5s backwards;
}
.download-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 140px;
  height: 40px;
  border-radius: 40px;
  border: 3px solid var(--dominant-color);
  animation: anim-onload-home 1.2s ease-in-out 1.8s backwards;
}
.download-cv a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--body-font);
  font-size: 0.8rem;
}

/* ----------ABOUT SECTION-------------- */
.about-container {
  width: 100%;
  height: auto;
  background-color: var(--light-color);
}
.about-container img {
  max-width: 200px;
}
.about-me {
  width: 100%;
  height: 80vh;
  max-height: 530px;
  background-color: var(--dominant-color);
  padding: 8vh 10%;
  color: #fff;
}
.about-me > h2 {
  font-size: var(--medium-font-size);
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}
.about-me > p {
  text-align: center;
}
.about-skills {
  max-width: 900px;
  width: 80%;
  min-height: 100vh;
  margin: -60px auto 2rem;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5%;
  color: #000;
}
.skill-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.skill-title img {
  max-width: 300px;
  width: 50%;
  margin-top: 1rem;
}
.skill-subtitle {
  margin: 2rem 0;
}
.skill-subtitle > h2 {
  font-size: var(--medium-font-size);
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}
.skill-subtitle p {
  text-align: center;
}
.skill-things {
  margin: 1rem 0;
}
.skill-things strong {
  color: var(--dominant-color);
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
  display: block;
}
.skill-things p {
  text-align: center;
}
.skill-resources {
  margin: 2rem 0;
}
.skill-resources strong {
  color: var(--dominant-color);
  font-weight: 500;
  text-align: center;
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}
.skill-icon {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.skill-icon li {
  display: flex;
  justify-content: center;
  width: 100%;
}
.skill-icon li img {
  width: 40%;
}

/* -----------PROJECT SECTION----------- */
.project-container {
  width: 100%;
  /* background-color: var(--dominant-color); */
  display: flex;
  flex-direction: column;
}
.project-title {
  width: 100%;
  padding: 8vh 10%;
  color: #fff;
  background-color: var(--dominant-color);
}
.project-title h2 {
  font-size: var(--medium-font-size);
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}
.project-title p {
  text-align: center;
}
.project-title p a {
  color: #fff;
  font-weight: 500;
  font-size: 1.1em;
}
.my-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.project-box {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #fff;
  max-width: 450px;
  width: 80%;
  margin: 2rem 1rem;
  overflow: hidden;
  transition: 0.7s ease-out;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(50%);
  opacity: 0;
}
.projectBx-reveal {
  opacity: 1;
  transform: translateY(0%);
}
.project-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.project-img img {
  width: 100%;
  height: 100%;
}
.project-content {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  flex-direction: column;
  color: #fff;
  z-index: 2;
  transition: 0.8s;
}
.project-content p:first-child {
  font-size: 1em;
  font-weight: 500;
}
.project-content p {
  text-align: center;
  font-size: 0.7em;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 150px;
  height: 40px;
  border-radius: 40px;
  border: 3px solid var(--dominant-color);
}
.btn a {
  color: #fff;
  text-decoration: none;
  font-size: 0.7em;
}
/* ----------PROJECTBOX ON HOVER/CLICK ANIMATIONS-------- */
.project-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  mix-blend-mode: multiply;
  z-index: 1;
  transition: ease 0.8s;
  opacity: 0;
  pointer-events: none;
}
.project-box:hover {
  transform: scale(1.12);
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.project-box:hover .project-img::after {
  opacity: 1;
}
.project-box:hover .project-content {
  transform: translateY(-100%);
}

/* ----------TESTIMONIAL SECTION-------- */
.testimonial-container {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  overflow-x: hidden;
  margin: 0 auto;
}
.testi-title {
  text-align: center;
}
.testi-title h2 {
  font-size: var(--medium-font-size);
  font-weight: 600;
  color: var(--dominant-color);
  margin-bottom: 10px;
}
.testi-slider {
  position: relative;
  width: 240px;
  height: 320px;
}
.testimonial-slide {
  width: 5000px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -255px;
  display: flex;
  cursor: grab;
}
.testimonial-content {
  width: 240px;
  height: 320px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px 25px 5px;
  background-color: var(--light-color);
  border: 1px solid rgba(255, 255, 255, 0.219);
  transition: transform 0.5s ease-in-out;
}
.testi-text i {
  color: var(--dominant-color);
  font-size: 2.5rem;
}
.testi-text p {
  text-align: center;
  font-size: 0.9rem;
  color: var(--dark-color);
}
.testi-profile {
  width: 85px;
  height: 85px;
  border: 5px solid var(--light-color);
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  bottom: 65px;
}
.testi-profile img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.testi-name {
  color: #fff;
  z-index: 1;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testi-name > span {
  font-weight: 500;
}
.testi-socmed {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}
.testi-socmed a {
  font-size: 1.1rem;
  color: #f4f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.testi-socmed a:hover,
.testi-socmed a:active {
  background-color: #f4f9ff;
  color: #1e90ff;
}

.testimonial-content::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dominant-color);
  clip-path: polygon(
    0 70%,
    2.78% 69.131%,
    5.56% 68.289%,
    8.33% 67.5%,
    11.11% 66.786%,
    13.89% 66.169%,
    16.67% 65.669%,
    19.44% 65.301%,
    22.22% 65.075%,
    25% 65%,
    27.78% 65.075%,
    30.56% 65.301%,
    33.33% 65.669%,
    36.11% 66.169%,
    38.89% 66.786%,
    41.67% 67.5%,
    44.44% 68.289%,
    47.22% 69.131%,
    50% 70%,
    52.78% 70.868%,
    55.56% 71.71%,
    58.33% 72.5%,
    61.11% 73.213%,
    63.89% 73.83%,
    66.67% 74.33%,
    69.44% 74.698%,
    72.22% 74.924%,
    75% 75%,
    77.78% 74.924%,
    80.56% 74.698%,
    83.33% 74.33%,
    86.11% 73.83%,
    88.89% 73.213%,
    91.67% 72.5%,
    94.44% 71.71%,
    97.22% 70.868%,
    100% 70%,
    100% 100%,
    0% 100%
  );
}
.testi-active::after {
  animation: anim-wave 4s ease-in-out infinite;
}
.testi-active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dominant-color);
  opacity: 0.5;
  animation: anim-wave 7s linear infinite;
}
.testi-active {
  transform: scale(1.05);
  transform-origin: bottom;
}

@keyframes anim-wave {
  0%,
  100% {
    clip-path: polygon(
      0 70%,
      2.78% 69.131%,
      5.56% 68.289%,
      8.33% 67.5%,
      11.11% 66.786%,
      13.89% 66.169%,
      16.67% 65.669%,
      19.44% 65.301%,
      22.22% 65.075%,
      25% 65%,
      27.78% 65.075%,
      30.56% 65.301%,
      33.33% 65.669%,
      36.11% 66.169%,
      38.89% 66.786%,
      41.67% 67.5%,
      44.44% 68.289%,
      47.22% 69.131%,
      50% 70%,
      52.78% 70.868%,
      55.56% 71.71%,
      58.33% 72.5%,
      61.11% 73.213%,
      63.89% 73.83%,
      66.67% 74.33%,
      69.44% 74.698%,
      72.22% 74.924%,
      75% 75%,
      77.78% 74.924%,
      80.56% 74.698%,
      83.33% 74.33%,
      86.11% 73.83%,
      88.89% 73.213%,
      91.67% 72.5%,
      94.44% 71.71%,
      97.22% 70.868%,
      100% 70%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0 70%,
      2.78% 70.868%,
      5.56% 71.71%,
      8.33% 72.5%,
      11.11% 73.213%,
      13.89% 73.83%,
      16.67% 74.33%,
      19.44% 74.698%,
      22.22% 74.924%,
      25% 75%,
      27.78% 74.924%,
      30.56% 74.698%,
      33.33% 74.33%,
      36.11% 73.83%,
      38.89% 73.213%,
      41.67% 72.5%,
      44.44% 71.71%,
      47.22% 70.868%,
      50% 70%,
      52.78% 69.131%,
      55.56% 68.289%,
      58.33% 67.5%,
      61.11% 66.786%,
      63.89% 66.169%,
      66.67% 65.669%,
      69.44% 65.301%,
      72.22% 65.075%,
      75% 65%,
      77.78% 65.075%,
      80.56% 65.301%,
      83.33% 65.669%,
      86.11% 66.169%,
      88.89% 66.786%,
      91.67% 67.5%,
      94.44% 68.289%,
      97.22% 69.131%,
      100% 70%,
      100% 100%,
      0% 100%
    );
  }
}
.next,
.prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  color: var(--accent-color);
}
.next {
  right: 0px;
}
.prev {
  left: 0px;
}
.next:active,
.prev:actve {
  color: var(--accent-color);
}
.index-radio {
  position: absolute;
  bottom: -2.5rem;
  display: flex;
  justify-content: space-evenly;
  width: 240px;
}
.index-radio i {
  font-size: 1.25rem;
  color: var(--dark-color);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: var(--accent-color);
  cursor: pointer;
}
.index-radio i.index-active {
  background-color: var(--dominant-color);
}

.slide-transition {
  transition: all 0.3s ease-in-out;
}
/* ----------CONTACT SECTION----------- */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 560px;
  background-color: var(--dominant-color);
  color: #000000;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 600px;
  height: 480px;
  border-radius: 10px;
  background-color: #f4f9ff;
  position: relative;
}
.section-title {
  position: absolute;
  top: 10%;
}
.contact-input {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: 60px;
  margin: 20px 0;
  overflow: hidden;
}
.contact-input input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: var(--body-font);
  color: #414756;
  font-size: var(--normal-font-size);
  padding: 25px 5px 0px;
  border: none;
  outline: none;
  background: transparent;
}
.contact-input .label-name {
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #000000;
}
.label-name::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--dominant-color);
  position: absolute;
  left: 0;
  bottom: -2px;
  transform: translateX(-100%);
  transition: transform 0.8s ease-in-out;
}
.label-name::before {
  content: "";
  width: 100%;
  height: 70%;
  background-color: rgba(30, 144, 255, 0.075);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 5px 5px 0 0;
  transform: translateY(100%);
  transition: transform 0.8s ease;
}
.content-name {
  position: absolute;
  left: 5px;
  bottom: 0;
  color: #414756;
  transition: all 0.5s ease;
}
.contact-input input:focus + .label-name .content-name,
.contact-input input:valid + .label-name .content-name {
  transform: translateY(-32px);
  color: var(--dominant-color);
  font-size: 0.9em;
  font-weight: 500;
}
.contact-input input:focus + .label-name::after,
.contact-input input:valid + .label-name::after {
  transform: translateX(0%);
}
.contact-input input:focus + .label-name::before,
.contact-input input:valid + .label-name::before {
  transform: translateY(0%);
}
.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 46px;
  border-radius: 40px;
  background-color: var(--dominant-color);
  cursor: pointer;
  justify-self: flex-end;
  margin-top: 30px;
  position: absolute;
  bottom: 5%;
}
.submit-button input {
  color: #f4f9ff;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* ---------FOOTER------------- */
footer {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  color: var(--dark-color);
  text-align: center;
  font-size: 0.8rem;
}
footer div {
  margin: 0.5rem 0;
}
.footer-socmed ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.footer-socmed ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 2px solid rgba(27, 164, 255, 0.5);
  margin-left: 25px;
  border-radius: 50%;
  font-size: 0.5em;
}
.footer-socmed ul li:first-child {
  margin-left: 0;
}
.footer-socmed ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--dominant-color);
}
.footer-socmed ul li:hover {
  background-color: var(--dominant-color);
}
.footer-socmed ul li:hover a {
  color: var(--light-color);
}
/* ---------ONLOAD ANIMATIONS-------------- */
@keyframes anim-onload-header {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
}
@keyframes anim-onload-home {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes anim-onload-bg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ---------MEDIA QUERIES */
@media screen and (min-width: 481px) {
  :root {
    --big-font-size: 2.8rem;
    --medium-font-size: 1.5rem;
    --normal-font-size: 1.1rem;
  }
  .download-cv {
    width: 170px;
    height: 40px;
    border-radius: 50px;
  }
  .download-cv a {
    font-size: 1rem;
  }
  .lightmode-container {
    width: 64px;
    height: 34px;
    padding: 2px;
  }
  .lightmode-container i {
    width: 28px;
    height: 28px;
  }
  .lightmode-container .lightmode-off {
    width: 58px;
    height: 28px;
  }
  .bx-moon {
    transform: translateX(-106%);
  }
  .bx-moon + .lightmode-off {
    width: 28px;
  }
  .home-container {
    background-size: 37%;
  }
  :root.darkmode body .home-container {
    background-size: 50%;
  }
  .about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 769px) {
  :root {
    --big-font-size: 3rem;
    --medium-font-size: 1.7rem;
    --normal-font-size: 1.1rem;
  }
  .download-cv {
    width: 190px;
    height: 45px;
  }
  .download-cv a {
    font-size: 1rem;
  }
  .about-skills {
    display: flex;
    width: 80%;
  }
  .skill-title {
    padding: 15px;
    width: 50%;
  }
  .skill-title:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
  }
  .my-projects {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .project-box {
    width: 45%;
  }
  .home-container {
    background-size: 33%;
  }
  .testimonial-container {
    width: 765px;
  }
  .testi-active {
    transform: none;
  }
  .next {
    right: -260px;
  }
  .prev {
    left: -260px;
  }
}
@media screen and (min-width: 1025px) {
  :root {
    --big-font-size: 3rem;
    --medium-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
  .nav-logo {
    background: none;
    width: 40%;
  }
  .sticky-header .nav-logo {
    background-color: transparent;
  }
  .sticky-header .nav-link {
    color: var(--light-color);
  }
  .nav-link:hover {
    border-bottom: 4px solid var(--dominant-color);
  }
  .nav-current {
    border-bottom: 4px solid var(--dominant-color);
    font-size: 1rem;
  }
  .nav-links {
    display: flex;
    width: 50%;
    height: 100%;
    position: static;
    background-color: transparent;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .nav-link {
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 500;
    font-size: 1rem;
  }
  .nav-current::before {
    display: none;
  }
  .nav-socmed {
    display: none;
  }
  .lightmode-container {
    right: 40px;
  }
  .nav-burger {
    display: none;
  }
  .home-container .title {
    width: 70%;
  }
  .home-container .title h1 > span {
    display: inline;
  }
  .home-container {
    background: url(imgs/react.svg) no-repeat fixed 95% 70%;
    background-size: 40%;
  }
  :root.darkmode body .home-container {
    background: url(imgs/lavarelandvue.svg) no-repeat fixed 95% 70%;
    background-size: 35%;
  }
  .title p,
  .intro p {
    font-size: 1.3rem;
  }
  .nav-active {
    transform: none;
  }
  .contact-container {
    justify-content: flex-start;
    background: var(--dominant-color) url(imgs/undraw_contact_us_15o2.svg)
      no-repeat 40px center;
    background-size: 45%;
  }
  .form-container {
    position: relative;
    left: 50%;
    width: 50%;
  }
}
